<md-toolbar color="primary">
  <span>MSCI Car rental service</span>
</md-toolbar>
<div class="base-wrapper">
  <div class="content">
    <md-list>
      <h3 md-subheader>Available cars for rent</h3>
      <md-list-item *ngFor="let carListItem of availableCars" color="primary">
        <md-icon md-list-icon>directions_car</md-icon>
        <h4 md-line>{{carListItem.carDescription}}</h4>
        <p md-line> {{carListItem.id}} </p>
        <div class="button-row">
          <button md-raised-button color="primary" (click)="openBookingDialog(carListItem)">book</button>
          <button md-mini-fab (click)="loadCarInfo(carListItem)"><md-icon>info</md-icon></button>
        </div>
      </md-list-item>
    </md-list>
    <md-card class="car-card" *ngIf="selectedCar">
      <md-card-header>
        <md-card-title>{{selectedCar.make}}</md-card-title>
        <md-card-subtitle>{{selectedCar.model}} ({{selectedCar.bodyType}}) </md-card-subtitle>
      </md-card-header>

      <md-card-content>
        <ul>
          <li>colour: {{selectedCar.colour}}</li>
          <li>transmission: {{selectedCar.transmission}}</li>
          <li>seats: {{selectedCar.seats}}</li>
          <li>doors: {{selectedCar.doors}}</li>
          <li>build date: {{selectedCar.buildDate | date:'y - MM - dd'}}</li>
        </ul>
      </md-card-content>
      <md-card-actions>

      </md-card-actions>
    </md-card>
  </div>
</div>