@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.base-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
     -ms-flex-flow: column;
         flex-flow: column;
         -webkit-align-items: center;
         -moz-align-items: center;
          -ms-align-items: center;
              align-items: center;
}

.content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
     -ms-flex-flow: column;
         flex-flow: column;
    width: 1024px;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button {
    margin: 0 20px;
}

.car-card {
    width: 400px;
}