<h2 md-dialog-title>Please fill the booking info</h2>
<p>{{carListItem.carDescription}}</p>
<md-dialog-content>
    <form class="booking-form">
        <table class="form-full-width" cellspacing="0">
            <tr>
                <td>
                    <md-input-container class="form-full-width">
                        <input mdInput placeholder="name" [(ngModel)]="booking.customerName" name="customerName" >
                    </md-input-container>
                </td>
            </tr>
        </table>

        <p>
            <md-input-container class="form-full-width">
                <input mdInput placeholder="email" [(ngModel)]="booking.customerEmail" name="customerEmail">
            </md-input-container>
            <md-input-container class="form-full-width">
                <input mdInput placeholder="licence number" [(ngModel)]="booking.customerLincenceNumber" name="customerLincenceNumber">
            </md-input-container>
        </p>

        <table class="form-full-width" cellspacing="0">
            <tr>
                <td>
                    <md-input-container>
                        <input mdInput [mdDatepicker]="startDatePicker" placeholder="start date" [(ngModel)]="booking.bookStartDate" name="bookStartDate">
                        <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
                    </md-input-container>
                    <md-datepicker #startDatePicker></md-datepicker>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput [mdDatepicker]="endDatePicker" placeholder="end data" [(ngModel)]="booking.bookEndDate" name="bookEndDate">
                        <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
                    </md-input-container>
                    <md-datepicker #endDatePicker></md-datepicker>
                </td>
                <td>
                    <md-select placeholder="Usage" [(ngModel)]="booking.usage" name="usageSelector" name="usage">
                        <md-option *ngFor="let usage of usages" [value]="usage.value">
                            {{usage.viewValue}}
                        </md-option>
                    </md-select>
                </td>
            </tr>
        </table>
    </form>


</md-dialog-content>
<md-dialog-actions>
    <button md-button [md-dialog-close]="booking">book</button>
    <button md-button md-dialog-close>cancel</button>
</md-dialog-actions>